# Ignore these directories
_aux/
node_modules/
tmp/
logs/
_data
geolocation-ip/server/db

# Ignore these files
.env
.DS_Store
config.js
config.json
private.json
secret.json
stats.json
private.go
secret.go

# Ignore binaries
codetabs

# third party binaries
_data/loc/locLinux
_data/loc/locMac

