##
## Ignore list
##

## dir
_aux/
tmp/

## files
.air.conf
.env
.DS_Store
_private.js
_private.json
a_private.go
*_private.go
banned*.list
codetabsData.db3
*.db*
*.db3*
*.db3

## binaries
codetabs
codetabs-0.*
codetabs*
