# Ignore these directories
_aux/
logs/
node_modules/
tmp/
_tmp/
_data/
data/

#Ignore these files
.air.conf
.env
.DS_Store
_private.js
_private.json
a_private.go
banned.list
codetabsData.db3
*.db*
*.db3*
*.db3
# 

# 

# ignore binaries
codetabs




