/*  BIG SMALL */

@media only screen and (max-width: 681px) {}

@media only screen and (min-width: 681px) {}

body {
  font-family: "PT Sans", "arial", sans-serif;
  background-color: #eee;
  font-size: 0.85em;
  color: #2c2c2c;
  margin: auto;
  max-width: 780px;
  /* -webkit-user-select: none;*/
  /* Chrome all / Safari all */
  /*-moz-user-select: none;*/
  /* Firefox all */
  /*-ms-user-select: none;*/
  /* IE 10+ */
  /*user-select: none;*/
}


/* GENERICS */

.centerImage {
  display: flex;
  margin: 0 auto;
  max-width: 80%;
}

.verticalImage {
  vertical-align: middle;
}

.centerText {
  text-align: center;
}


/* HEADER */

.header {
  margin-bottom: 10px;
}

h1 {
  font-family: "Titillium Web", "arial", sans-serif;
  margin: 0px;
  color: #b42c5f
}

h1 img {
  padding: 0px 0px 5px 0px;
}

#hitsData {
  display: flex;
  justify-content: center;
}


/* TABLE */

thead tr th {
  color: #fafafa;
  background-color: #404040;
}

.table>thead>tr>th {
  padding: 5px 10px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 2px 10px;
  line-height: 1.5em;
}

table, tr, th, td {
  border-collapse: collapse;
  box-shadow: inset 0 0 1px #cccccc;
}

.table tbody tr .points {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}