/*  BIG SMALL */

@media only screen and (max-width: 681px) {
  .big {
    display: none
  }
  .small {
    display: block;
  }
  .header {
    margin-top: 5px;
  }
  .toolTile {
    padding: 5px;
  }
  .description, .endpoint {
    width: 95%;
  }
  .leftText {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
  }
  pre.marginLeft {
    padding-left: 5%;
  }
}

@media only screen and (min-width: 681px) {
  .big {
    display: block
  }
  .small {
    display: none;
  }
  h1 span {
    font-size: 1.5em;
  }
  .header {
    margin-top: 10px;
  }
  .footer {
    margin-top: 10px;
  }
  .description, .endpoint {
    width: 85%;
  }
  .leftText {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
  }
  pre.marginLeft {
    padding-left: 15%;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: "Varela", 'arial', sans-serif;
  font-size: 0.9em;
  line-height: 1.2em;
  background-color: #eee;
  color: #404040;
  margin: 0px auto;
  max-width: 960px;
}

/* HEADER */

.headerText {
  padding-top: 1em;
}

h1 {
  font-family: "Vaela", 'Titillium Web', 'arial', sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #b42c5f
}

h1 span {
  vertical-align: middle;
}

/* DESCRIPTION */

.description, .endpoint {
  margin: 0 auto;
  padding: 10px 0px;
  /*margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);*/
}

.red {
  color: #e9552c;
  /*color: #b42c5f*/
}

/*   GENERICs */

a {
  color: #375EAB;
  text-decoration: none;
}

.centerText {
  text-align: center;
}

.verticalImage {
  vertical-align: middle;
}

code, pre {
  font-size: 0.85em;
  line-height: 1.2em;
  margin: 0;
}

.goHome {
  margin: 0px;
}

.form {
  margin: 0 auto;
}

/* HR */

hr {
  margin: 10px 10% 10px 10%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #888, #ccc);
}

/* ADD FORM STARS */

.container {
  margin: 15px auto 0px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.addRepo {
  margin: 0px auto 10px auto;
}

.addRepo .action, .upload .action {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fafafa;
  cursor: pointer;
}

.addRepo input {
  padding: 5px;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 0.9em;
}

#addRepo, #addRepo2, #upload {
  border: 1px solid #6f96ff;
  background-color: #6f96ff;
}

#clearAll, #clearAll2 {
  margin-left: 10px;
  border: 1px solid #ff6565;
  background-color: #ff6565;
}

#addForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOADER */

.loader {
  border: 16px solid #eee;
  border-radius: 50%;
  border-top: 16px solid #6b6be7;
  border-bottom: 16px solid #6b6be7;
  margin: 15px auto 10px auto;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* UPDATE */

.news {
  margin: 5px auto 5px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.update {
  border: 1px solid lightsalmon;
  background-color: lightsalmon;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em;
}