<!-- Begin Footer-->
<style>
  .footer {
    font-family: "arial", sans-serif;
    text-align: center;
    font-size: 0.95em;
    line-height: 1.2em;
  }

  html {
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    margin: 0 auto;
    min-height: 98%;
    padding-bottom: 6rem;
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }
</style>

<footer class="footer">
  <hr>
  <a href="//codetabs.com">
    <img class="verticalImage" alt="goHome" src="/_public/icons/ct/ct24r.png"> <strong>codetabs.com</strong>
  </a>
  <br>
  <span>
    This site includes Curtis Gagliardi
    <a href="https://github.com/cgag/loc">cgag/loc</a> for counting lines of code.
  </span>
  <br>
  <span>You can submit your questions, feedbacks, and feature requests opening a issue on github or
    <a href=mailto:hi@codetabs.com>
      <strong>emailing us</strong>
    </a>
  </span>
  <br>
  <img class="logo" style="max-height:32px; vertical-align:middle" alt="" src="/_public/icons/ct/jolav32.png">
  Jolav
  &copy; 2020 -
  <strong>
    <a href="https://github.com/jolav/codetabs">View on GitHub</a>
  </strong>
  <hr>
</footer>
<br>
<!-- End -->
