<!-- Begin Footer-->
<footer class="footer">
  <a href=mailto:web@codetabs.com>
    <strong>Contact us</strong>
  </a>
  <br>
  <small>
    <span>You can submit your questions, feedbacks, and feature requests by email. We are looking forward to hearing from you!</span>
    <br>
    <img class="logo" style="max-height:24px; vertical-align:middle" alt="" src="/_public/icons/jolav32.png">
    <strong> Jolav &copy; 2018 -
      <a href="https://github.com/jolav/codetabs">View on GitHub</a>
    </strong>
</footer>
<br>
<!-- End -->