/*  BIG SMALL */

@media only screen and (max-width: 681px) {
  .big {
    display: none
  }
  .small {
    display: block;
  }
}

@media only screen and (min-width: 681px) {
  .big {
    display: block
  }
  .small {
    display: none;
  }
}

body {
  font-family: 'arial', sans-serif;
  background-color: #eee;
  color: #404040;
  font-size: 1em;
  margin: 0px auto;
  max-width: 700px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}


/* HEADER */

h1 {
  font-family: 'Titillium Web', 'arial', sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #b42c5f
}


/*   GENERICs */

a {
  color: #375EAB;
  text-decoration: none;
}

.centerImage {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
}

.verticalImage {
  vertical-align: middle;
}

.centerText {
  text-align: center;
}


/* HR */

hr {
  margin: 10px 10% 10px 10%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #888, #ccc);
}


/* FOOTER */

.footer {
  font-family: "Arial", sans-serif;
  text-align: center;
}


/* GOHOME */

.goHome img {
  vertical-align: middle;
  margin-bottom: 3px;
}


/* TETRIS */

.tetris {
  max-width: 700px;
  margin: 0px auto 0px auto;
  padding: 10px 0px;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.dashboard {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.tag {
  padding: 1px 5px;
  margin: 5px 0 5px 0;
  font-size: 0.65em;
  border-radius: 5px;
  border: 1px solid #2cb481;
  background-color: #2cb481;
  color: #fafafa;
  font-weight: bold;
}

.action {
  width: 80px;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 4px 5px 5px 5px;
  border: 1px solid #dcdcdc;
  background-color: lightblue;
  border-radius: 5px;
  cursor: pointer;
}

.score {
  width: 100px;
  padding: 5px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  border-radius: 5px;
  pointer-events: none;
  font-size: 1em;
  font-family: "arial", sans-serif;
  margin: 5px 0px;
}

.next {
  padding-bottom: 20px;
}

#score, #level, #completed {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5em;
  color: #b42c5f;
}


/* HIGHSCORE */

.highScore .score {
  width: 80px;
  margin-top: 0px;
  font-size: 0.9em;
}

.score + .score {
  border-top: 0px;
}