/* */

/* FORM + MAP */

@media only screen and (max-width: 681px) {
  body {
    padding: 5px;
  }
  .data {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .data1 {
    width: 80%;
    max-width: 400px;
    margin-bottom: 10px;
  }
  .data2 {
    width: 80%;
    max-width: 400px;
  }
}

@media only screen and (min-width: 681px) {
  body {
    padding: 10px;
  }
  .data {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .data1 {
    flex: 3;
    max-width: 400px;
    margin-right: 15px
  }
  .data2 {
    flex: 2;
    margin-left: 15px;
  }
}

.data {}

.data1 {
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
}

.form input[type=text] {
  display: flex;
  margin: 0px auto 10px auto;
  width: 80%;
  text-align: center;
  font-size: 1.4em;
  border: none;
  border-bottom: 2px solid #e9552c;
  background-color: #eee;
}

.table {
  width: 100%;
}

tr.row td.key, tr.row td.value {
  border-bottom: 1px solid #bbbbbb;
}

tr.row td.key {
  width: 35%;
}

tr.row td.value {
  width: 65%;
}

.key {
  text-align: left;
  font-size: 0.9em;
}

.value {
  font-size: 1em;
}

.map {
  padding: 10px;
  width: 90%;
  margin: 0px auto;
}

.map #mapid {
  height: 220px;
}

/*  BIG SMALL */

@media only screen and (max-width: 681px) {
  .big {
    display: none
  }
  .small {
    display: block;
  }
  .header {
    margin-top: 5px;
  }
  .toolTile {
    padding: 5px;
  }
  .description, .endpoint {
    width: 95%;
  }
  .leftText {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
  }
  pre.marginLeft {
    padding-left: 5%;
  }
}

@media only screen and (min-width: 681px) {
  .big {
    display: block
  }
  .small {
    display: none;
  }
  h1 span {
    font-size: 1.5em;
  }
  .header {
    margin-top: 10px;
  }
  .footer {
    margin-top: 10px;
  }
  .description, .endpoint {
    width: 85%;
  }
  .leftText {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
  }
  pre.marginLeft {
    padding-left: 15%;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: "Varela", 'arial', sans-serif;
  font-size: 0.9em;
  line-height: 1.2em;
  background-color: #eee;
  color: #404040;
  margin: 0px auto;
  max-width: 960px;
}

/* HEADER */

.headerText {
  padding-top: 1em;
}

h1 {
  font-family: 'Titillium Web', 'arial', sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #b42c5f
}

h1 span {
  vertical-align: middle;
}

/* DESCRIPTION */

.description, .endpoint {
  margin: 0 auto;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.red {
  color: #e9552c;
  /*color: #b42c5f*/
}

/*   GENERICs */

a {
  color: #375EAB;
  text-decoration: none;
}

.centerText {
  text-align: center;
}

.verticalImage {
  vertical-align: middle;
}

code, pre {
  font-size: 0.85em;
  line-height: 1.2em;
  margin: 0;
}

.goHome {
  margin: 0px;
}

.form {
  margin-top: 20px;
}

.result {
  text-align: center;
}

.result table {
  border: -5px solid lightcoral;
}

/* HR */

hr {
  margin: 10px 10% 10px 10%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #888, #ccc);
}
