/*  BIG SMALL */

@media only screen and (max-width: 681px) {
  .big {
    display: none
  }
  .small {
    display: block;
  }
}

@media only screen and (min-width: 681px) {
  .big {
    display: block
  }
  .small {
    display: none;
  }
  h1 span {
    font-size: 1.5em;
  }
  .header {
    margin-top: 10px;
  }
  .footer {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 540px) {
  .tools {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 541px) {
  .tools {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 681px) {
  .tools {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 821px) {
  .tools {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

body {
  font-family: 'arial', sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  background-color: #eee;
  color: #404040;
  margin: 0px auto;
  max-width: 860px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  background: #eee url('/_public/images/back.png') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
}

.notSeen {
  display: none;
}

/* HEADER */

.header {
  margin-top: 15px;
}

.headerText {
  padding-top: 0.5em;
}

h1 {
  font-family: 'Titillium Web', 'arial', sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #b42c5f
}

h1 span {
  vertical-align: middle;
}

/* LEGENDS */

.legends {
  margin: 0 auto;
  font-size: 0.8em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.legend {
  border-radius: 5px;
  padding: 2px 5px 3px 5px;
  border: 1px solid #404040;
}

.legend.service {
  background-color: lightblue;
  color: #b42c5f;
}

.legend.thirdParty {
  background-color: #b6dab6;
  color: #008E61;
}

.legend.stuff {
  background-color: #dddddd;
  color: #404040;
}

/* TOOLS */

.tools {
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  padding: 10px;
}

.tool {
  display: inline-block;
  border-radius: 5px;
  margin: 1em 0px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  /*text-align: justify;*/
}

.tool.service {
  background-color: #cce5ff;
  border: 2px solid #cce5ff;
  background: rgba(204, 229, 255, 0.6);
}

.tool.thirdParty {
  background-color: #b6dab6;
  border: 2px solid #b6dab6;
  background: rgba(182, 218, 182, 0.6);
}

.tool.stuff {
  background-color: #dddddd;
  border: 2px solid #dddddd;
  background: rgba(221, 221, 221, 0.2)
}

.tool:hover {
  border: 2px solid orange;
  transform: scale(1.05);
}

.toolTile {
  padding: 15px;
}

.toolTile .title {
  font-weight: bold;
  color: #b42c5f;
  /*color: #2cb481;*/
}

.party3 {
  color: #008E61;
}

.ctStuff {
  color: #404040;
}

.tool p {}

/*   GENERICs */

a {
  color: #375EAB;
  text-decoration: none;
}

.tool a {
  text-decoration: none;
}

.tool a, .tool a:visited {
  color: inherit;
}

.centerImage {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
}

.verticalImage {
  vertical-align: middle;
}

.centerText {
  text-align: center;
}

/* HR */

hr {
  margin: 10px 10% 10px 10%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #888, #ccc);
}

/* FOOTER */

.footer {
  font-family: "arial", sans-serif;
  text-align: center;
}

/* SPRITES */

/* Generated by http://css.spritegen.com CSS Sprite Generator */

.ct64r, .ct48r, .count32, .datasilo32, .geoip32, .headers32, .notes32, .podium32, .server32, .stars32, .tetris32, .weather32 {
  display: inline-block;
  background: url('/_public/sprites/sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.ct64r {
  background-position: -0px -0px;
  width: 64px;
  height: 64px;
}

.ct48r {
  background-position: -0px -64px;
  width: 48px;
  height: 48px;
}

.count32 {
  background-position: -0px -112px;
  width: 32px;
  height: 32px;
}

.datasilo32 {
  background-position: -32px -112px;
  width: 32px;
  height: 32px;
}

.geoip32 {
  background-position: -0px -144px;
  width: 32px;
  height: 32px;
}

.headers32 {
  background-position: -32px -144px;
  width: 32px;
  height: 32px;
}

.notes32 {
  background-position: -0px -176px;
  width: 32px;
  height: 32px;
}

.podium32 {
  background-position: -32px -176px;
  width: 32px;
  height: 32px;
}

.server32 {
  background-position: -0px -208px;
  width: 32px;
  height: 32px;
}

.stars32 {
  background-position: -32px -208px;
  width: 32px;
  height: 32px;
}

.tetris32 {
  background-position: -0px -240px;
  width: 32px;
  height: 32px;
}

.weather32 {
  background-position: -32px -240px;
  width: 32px;
  height: 32px;
}