/*  BIG SMALL */

@media only screen and (max-width: 681px) {
  .big {
    display: none
  }
  .small {
    display: block;
  }
  h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 681px) {
  .big {
    display: block
  }
  .small {
    display: none;
  }
  h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 681px) {
  body {
    padding: 5px;
  }
  .data {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .data1 {
    width: 80%;
    max-width: 400px;
    margin-bottom: 10px;
  }
  .data2 {
    width: 80%;
    max-width: 400px;
  }
}

@media only screen and (min-width: 681px) {
  body {
    padding: 10px;
  }
  .data {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .data1 {
    flex: 3;
    margin-right: 15px
  }
  .data2 {
    flex: 2;
    margin-left: 15px;
  }
}

body {
  font-family: "Varela", "arial", sans-serif;
  background-color: #eee;
  color: #404040;
  font-size: 1em;
  margin: auto;
  max-width: 780px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

/* GENERICS */

.centerImage {
  display: flex;
  margin: 0 auto;
  max-width: 60%;
}

.verticalImage {
  vertical-align: middle;
}

.centerText {
  text-align: center;
}

/* HEADER */

.header {
  margin-bottom: 10px;
}

h1 {
  font-family: "Titillium Web", "arial", sans-serif;
  margin: 0px 0px 10px 0px;
  color: #e9552c;
}

/* DATA = RESULTS + MAP */

.data {}

.data1 {
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
}

.form input[type=text] {
  display: flex;
  margin: 0px auto 10px auto;
  width: 80%;
  text-align: center;
  font-size: 1.3em;
  border: none;
  border-bottom: 2px solid #e9552c;
  background-color: #eee;
}

.table {
  width: 100%;
}

tr.row td.key, tr.row td.value {
  border-bottom: 1px solid #bbbbbb;
}

tr.row td.key {
  width: 35%;
}

tr.row td.value {
  width: 65%;
}

.key {
  text-align: left;
  font-size: 0.8em;
}

.value {
  font-size: 0.95em;
}

.data2 {
  /* background-color: lightcoral;*/
}

.map {
  padding: 10px;
  width: 90%;
  margin: 0px auto;
}

.map #mapid {
  height: 220px;
}

@media only screen and (max-width: 681px) {
  .docs {
    flex-flow: column wrap;
  }
  .docs1 {
    width: 90%;
  }
  .docs2 {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 681px) {
  .doc {
    flex-flow: row nowrap;
  }
  .docs1 {
    margin-right: 30px;
  }
}

/* DOCS */

.docs {
  font-size: 0.9em;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

code, pre {
  font-size: 1.15em;
}

.red {
  color: #e9552c;
}

/* HR */

hr {
  margin: 20px 10% 10px 10%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #888, #ccc);
}

/* FOOTER */

.footer {
  margin-top: 20px;
  text-align: center;
}

a.hard {
  color: #375EAB;
}

a {
  color: #2cc0e9;
  text-decoration: none;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */

.geoip128, .geoip64 {
  display: inline-block;
  background: url('/_public/sprites/sprites.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.geoip128 {
  background-position: -0px -0px;
  width: 128px;
  height: 128px;
}

.geoip64 {
  background-position: -0px -128px;
  width: 64px;
  height: 64px;
}